<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css" href="/src/dll/css/dll.css"/>
    <script type="text/javascript" src="/src/dll/dll.js"></script>
  </head>
  <body>   
  	 <!-- 导航条  -->
  	 <%= require('./../header/index.ejs')() %>
     <!-- 导航条  -->
     <div class="container">
     	  <div class="panel">
     	  	<div class="row">
					  <div class="col-xs-12 col-md-12">
					    <a href="#" class="thumbnail">
					      <img src="<%= require('../../public-resource/images/about.gif') %>" alt="">
					    </a>
					  </div>
					</div>
					<p>
						<% for(var i = 0; i<150; i++){ %>关于我们<% } %>
					</p>
     	  </div> 
     </div>	
		 <!-- 版权信息  -->
		 <%= require('./../footer/index.ejs')() %>
     <!-- 版权信息   -->
  </body>
</html>