<% for(var i = 0; i< 9; i++){ %>
	<div class="media">
      <div class="media-left media-middle">
        <a href="#">
        	<img src="<%= require('../../../public-resource/images/news.jpg')%>" width="150" alt="" class="media-object" />
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">市场监管总局：11城列为2018年传销重点整治城市</h4>
        	中新网4月10日电 据国家市场监督管理总局网站消息，市场监督管理总局日前发布《关于进一步加强打击传销工作的意见》，意见表示，将廊坊、北海、南宁、南京、武汉、长沙、南昌、贵阳、合肥、西安、桂林市列为2018年传销重点整治城市。
      </div>
    </div>
<% } %>