<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css" href="/src/dll/css/dll.css"/>
    <script type="text/javascript" src="/src/dll/dll.js"></script>
  </head>
  <body>
  	  
  	 <!-- 导航条  -->
  	 <%= require('./../header/index.js')({current: htmlWebpackPlugin.options.filename}) %>
     <!-- 导航条  -->
     <div class="container">
     	
     	  <!-- 轮播模板 -->
     	  <%= require('./../carousel/index.js')() %>
 			  <!-- 轮播模板 -->
 			   
 			  <!-- 案例模板  -->
 			  <div id="case"></div>
        <!-- 案例模板   -->
		               
		    <div id="aaDom">
		    	点击异步导入模块
		    </div>
		 </div>
		 
     <!-- 版权信息  -->
		  <%= require('./../footer/index.ejs')() %>
     <!-- 版权信息   -->
  
  </body>
</html>


