<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if(htmlWebpackPlugin.options.ISDEV == 'development') {%>
		    <link rel="stylesheet" type="text/css" href="/src/dll/css/dll.css"/>
		    <script type="text/javascript" src="/src/dll/dll.js"></script>
	  <% }else{ %>
	  		<link rel="stylesheet" type="text/css" href="/dll/css/dll.css"/>
		    <script type="text/javascript" src="/dll/dll.js"></script>
	  <% } %>	
  </head>
  <body>   
  	 <!-- 导航条  -->
  	 <%= require('./../template/header/index.js')({current: htmlWebpackPlugin.options.filename}) %>
     <!-- 导航条  -->
     <div class="container">
     	  <div class="panel">
     	  	<div class="panel-body">
     	  	<ul class="nav nav-tabs" role="tablist" id="myTabs" style="margin-bottom: 15px;">
				    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab">国内新闻</a></li>
				    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab">行业新闻</a></li>
				  </ul>
				  
				   <!-- Tab panes -->
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="home">
				    	
				    </div>
				    <div role="tabpanel" class="tab-pane" id="profile">
				    	
				    </div>				
				  </div>
     	  	
     	  	</div>
     	  </div> 
     </div>	
		 <!-- 版权信息  -->
		 <%= require('./../template/footer/index.ejs')() %>
     <!-- 版权信息   -->
  </body>
</html>