
<% data.forEach(function(item,index){ %>
<div class="row">
	<% if(index == 0){ %>
  	<h3 class="text-center"><%= title %></h3>
	<% } %>

  <% item.forEach(function(val){ %>
  	<div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	      <img src="<%= val.src %>"/>	
	      <div class="caption">
	        <p style="text-indent: 30px;"><%= val.text %></p>
	      </div>
	    </div>
	  </div>
  <% });  %>
  
</div>
<% }); %>