<section id="legal" style="background-color: #363534;color: #fff;padding: 15px 0;">
    <div class="container py-5 text-center">
        <div class="legal fs-xs lh-xs tc-warm">
            <p>© webpack 个人站个人站个人站</p>
            <p>2018 备案：00002125</p>
        </div>
    </div>
</section>
