@font-face{
	font-family: 'pingfang';
	src: url('./PingFangSC-Regular.woff2') ;
}
#compoent img{
    float: right;
}
#compoent{
	background: indianred;
	background: url('./images/center_header.png') no-repeat left;
	height: 227px;
	color: #FFF;
	font-size: 25px;
	text-align: center;
	line-height: 200px;
	font-family: 'pingfang';
}

#root div{
	background: url('./images/dianchi.png') no-repeat center;
}
